body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1411px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1411px;
  height:964px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1411px;
  height:964px;
  display:flex;
  opacity:0.78;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Blackadder ITC Bold", "Blackadder ITC Обычный", "Blackadder ITC", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:129px;
  width:318px;
  height:38px;
  display:flex;
  font-family:"Blackadder ITC Bold", "Blackadder ITC Обычный", "Blackadder ITC", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u17 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1174px;
  height:608px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Blackadder ITC Oblique", "Blackadder ITC Обычный", "Blackadder ITC", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:30px;
  color:#000000;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:240px;
  width:1174px;
  height:608px;
  display:flex;
  font-family:"Blackadder ITC Oblique", "Blackadder ITC Обычный", "Blackadder ITC", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:30px;
  color:#000000;
}
#u18 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:848px;
  width:110px;
  height:34px;
  display:flex;
  font-size:24px;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
