body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1581px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1581px;
  height:1113px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1581px;
  height:1113px;
  display:flex;
  opacity:0.8;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Blackadder ITC Bold", "Blackadder ITC Обычный", "Blackadder ITC", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:174px;
  width:314px;
  height:53px;
  display:flex;
  font-family:"Blackadder ITC Bold", "Blackadder ITC Обычный", "Blackadder ITC", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u13 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1143px;
  height:509px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Blackadder ITC Oblique", "Blackadder ITC Обычный", "Blackadder ITC", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:30px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:342px;
  width:1143px;
  height:509px;
  display:flex;
  font-family:"Blackadder ITC Oblique", "Blackadder ITC Обычный", "Blackadder ITC", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:30px;
}
#u14 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:900px;
  width:73px;
  height:36px;
  display:flex;
  font-size:21px;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
